<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <typeAliases>
		<typeAlias alias="UserVO" type="com.petcare.web.domains.UserVO"/>
		<typeAlias alias="Proxy" type="com.petcare.web.utills.Proxy"/>
		<typeAlias alias="HospitalVo" type="com.petcare.web.domains.HospitalVo"/>
		<typeAlias alias="HosInfoCodeVo" type="com.petcare.web.domains.HosInfoCodeVo"/>
		<typeAlias alias="FAQVO" type="com.petcare.web.domains.FAQVO"/>
    	<typeAlias alias="customerVO" type="com.petcare.web.domains.CustomerVO"/>
		<typeAlias alias="animalVO" type="com.petcare.web.domains.AnimalVO"/>
<!-- 		<typeAlias alias="ReservationVo" type="com.petcare.web.domains.ReservationVo"/>
 -->    </typeAliases>

</configuration>