<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <typeAliases>
		<typeAlias alias="UserVO" type="com.petcare.web.domains.UserVO"/>
		<typeAlias alias="FAQVO" type="com.petcare.web.domains.FAQVO"/>
		<typeAlias alias="Proxy" type="com.petcare.web.utills.Proxy"/>
		<typeAlias alias="HospitalVo" type="com.petcare.web.domains.HospitalVo"/>
		<typeAlias alias="JusoVo" type="com.petcare.web.domains.JusoVo"/>
		<typeAlias alias="HospitalVo" type="com.petcare.web.domains.HospitalVo"/>
		<typeAlias alias="ReviewBrdVo" type="com.petcare.web.domains.ReviewBrdVo"/>
		<typeAlias alias="HosInfoCodeVo" type="com.petcare.web.domains.HosInfoCodeVo"/>
    </typeAliases>


</configuration>