<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petcare.web.mapper.AnimalMapper">

	<select id="getAnimailNumberRows" parameterType="hashmap" resultType="int">
		SELECT
					COUNT(1)
	 	  FROM		newzalbazo.ANIMAL
	 	 WHERE		1=1
	 	   AND		USER_ID = '${user_id}'
	</select>

	<select id="getAnimalListRows" parameterType="hashmap" resultType="animalVO">
		
		SELECT
					T.ANI_NO
			,		T.ANI_NAME
			,		T.ANI_KIND
			,		T.ANI_BREED
			,		T.LAST_T
			,		T.LAST_TIME
		  FROM		(
						SELECT
									@ROWNUM:= @ROWNUM +1	AS ROWNUM
							,		ANI_NO
							,		ANI_NAME
							,		ANI_KIND
							,		ANI_BREED
							,		''	AS LAST_T
							,		''	AS LAST_TIME
						  FROM		newzalbazo.ANIMAL
						  	,		(SELECT @ROWNUM := 0) R
						 WHERE		1=1
						   AND		USER_ID = '${user_id}'  
		  			) T
		 WHERE		1=1
		   AND		T.ROWNUM BETWEEN ${offset} AND ${limit}
	</select>
	
	<select id="getAnimalInfo" parameterType="hashmap" resultType="animalVO">
		
		SELECT
					*
		  FROM		newzalbazo.ANIMAL
		 WHERE		1=1
		   AND		USER_ID = '${user_id}'
		   AND		ANI_NO = '${ani_no}' 		
	</select>
	
	<insert id="insertAnimal" parameterType="animalVO">
		INSERT	INTO	newzalbazo.ANIMAL
					SELECT 
								#{user_id,		jdbcType=VARCHAR}
						,		LPAD(T.NEXT_VAL, '3', '0')	
						,		#{ani_kind,		jdbcType=VARCHAR}
						,		#{ani_name,		jdbcType=VARCHAR}
						,		#{ani_breed,	jdbcType=VARCHAR}
					  FROM		(
									SELECT	CAST(ANI_NO AS unsigned) + 1 AS NEXT_VAL		  
									  FROM	newzalbazo.ANIMAL
									 WHERE	USER_ID = #{user_id,	jdbcType=VARCHAR}
			 						 ORDER	BY ANI_NO DESC LIMIT 1
					  			) T
	</insert>
	
	<update id="updateAnimal" parameterType="animalVO">
		UPDATE		
					newzalbazo.ANIMAL
		   SET		ANI_NAME 	= #{ani_name,		jdbcType=VARCHAR}
		   	,		ANI_KIND 	= #{ani_kind,		jdbcType=VARCHAR}
		   	,		ANI_BREED 	= #{ani_breed,		jdbcType=VARCHAR}
		 WHERE		1=1
		   AND		USER_ID 	= #{user_id,		jdbcType=VARCHAR}
		   AND		ANI_NO		= #{ani_no,			jdbcType=VARCHAR}
	</update>
	
	<delete id="delteAnimal" parameterType="animalVO">
		DELETE
		  FROM		newzalbazo.ANIMAL
		 WHERE		1=1
		   AND		USER_ID 	= #{user_id,		jdbcType=VARCHAR}
		   AND		ANI_NO		= #{ani_no,			jdbcType=VARCHAR}		
	</delete>
	
</mapper>