<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petcare.web.mapper.CustomerMapper">


	<insert id="registCustomer" parameterType="customerVO">
		INSERT	INTO 	USER
					(
							USER_ID
						,	USER_PASS
						,	USER_NAME
						,	USER_PHONE
						,	USER_EMAIL
						,	USER_ADDRESS
						,	USER_AUTH
					) VALUES (
							#{userId,		jdbcType=VARCHAR}
						,	#{userPass,	jdbcType=VARCHAR}
						,	#{userName,	jdbcType=VARCHAR}
						,	#{userPhone,	jdbcType=VARCHAR}
						,	#{userEmail,	jdbcType=VARCHAR}
						,	#{userAddress,	jdbcType=VARCHAR}
						,	'001'
					)
	</insert>
	
	<select	id="getCustomerInfo" parameterType="String" resultType="customerVO">
		SELECT
					user_id		
			,		user_name
			,		user_phone	
			,		user_email
			,		user_address
		  FROM		USER
		 WHERE		1=1
		   AND		USER_ID = #{userId}
	</select>
	
	<select	id="userIdCheck" parameterType="customerVO" resultType="int">
		SELECT
					COUNT(*)
		  FROM		USER
		 WHERE		1=1
		   AND		USER_ID = #{userId}
	</select>
	
</mapper>