<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.petcare.web.mapper.FAQMapper">
	<select id="readAll" resultType="FAQVO">
	select faq_no, faq_cat, faq_name, faq_cont from faq
	</select>
	<select id="listcri" resultType="FAQVO">
	select faq_no, faq_cat, faq_name, faq_cont from faq limit #{pageStart},#{perPage}
	</select>
	
	<insert id="create">
	INSERT INTO FAQ(faq_cat,faq_name,faq_cont) VALUES(#{faqCat},#{faqName},#{faqCont})
	</insert>
	
	<select id="delete">
	DELETE FROM FAQ WHERE FAQ_NO=#{faqNo}
	</select>
	
	<update id="update">
	UPDATE FAQ SET faq_cat=#{faqCat}, faq_name=#{faqName}, faq_cont=#{faqCont} WHERE FAQ_NO=#{faqNo}
	</update>
	
	<select id="count" resultType="int">
	SELECT COUNT(*) FROM FAQ
	</select>
	
	
	


</mapper>