<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petcare.web.mapper.HospitalSearchMapper">
	<resultMap type="com.petcare.web.domains.HospitalVo" id="HospitalVo">
		<id column="hos_no" property="hosNo" />
		<result column="hos_no" property="hos_no" />
		<result column="hos_id" property="hosId" />
		<result column="hos_pass" property="hosPass" />
		<result column="hos_name" property="hosName" />
		<result column="hos_email" property="hosEmail" />
		<result column="hos_phone" property="hosPhone" />
		<result column="hos_address" property="hosAddress" />
		<result column="hos_site" property="hosSite" />
		<result column="hos_optime" property="hosOptime" />
		<result column="hos_open" property="hosOpen" />
		<result column="hos_close" property="hosClose" />
		<result column="hos_major_treatment_target" property="hosMajorTreatmentTarget" />
		<result column="hos_course_of_treatment" property="hosCourseOfTreatment" />
		<result column="hos_feature" property="hosFeature" />
		<result column="hos_service" property="hosService" />
		<result column="hos_intro" property="hosIntro" />
		<result column="hos_photo" property="hosPhoto" />
		<result column="treat_no" property="treatNo" />
	</resultMap>


<!-- 검색 조건  -->
<select id="selectCityCode" resultType="JusoVo">
select distinct(gb) , gb_nm from juso
</select>

<select id="selectGuCode" resultType="JusoVo">
select cd , gb, cd_nm from juso 
	where gb like #{gb}
</select>


<select id="selectHosInfoCode" resultType="HosInfoCodeVo">
select * from hos_info_code
</select>

<!-- pagenation을 위한 total -->

<select id="countAllHospital" resultType="int" parameterType="Proxy">
select count(hos_no) from hospital
<trim prefix="WHERE" prefixOverrides="AND">
    <if test="hosAddress != null and hosAddress != ''">
         replace(hos_address,' ' ,'') like '${hosAddress}%' 
    </if>
    <if test="searchWrd != null and searchWrd != ''">
        AND replace(hos_name,' ','') like replace('%${searchWrd}%',' ','')
    </if>    
 </trim>
</select>

<select id="countHospitalByCondition" resultType="int" parameterType="Proxy">
SELECT count(*) 
FROM HOSPITAL as h 
JOIN (SELECT a.hos_no 
		FROM ( SELECT hos_no , COUNT(*) as cnt 
				FROM hos_info 
				WHERE hos_info_code IN 
  	<foreach item="item" index="index" collection="checkBoxList" open="(" separator="," close=")">
        #{item}
  	</foreach>				
				GROUP BY hos_no
				) a
		WHERE cnt = (select count(*) from hos_info_code where hos_info_code in 
  	<foreach item="item" index="index" collection="checkBoxList" open="(" separator="," close=")">
        #{item}
  	</foreach>	
					)) as info
ON h.hos_no = info.hos_no
<trim prefix="WHERE" prefixOverrides="AND">
    <if test="hosAddress != null and hosAddress != ''">
         replace(hos_address,' ' ,'') like '${hosAddress}%' 
    </if>
    <if test="searchWrd != null and searchWrd != ''">
        AND replace(hos_name,' ','') like replace('%${searchWrd}%',' ','')
    </if>    
 </trim>
</select>


<!-- 검색 -->
<select id="selectHospitalAllList" resultType="HospitalVo" parameterType="Proxy">
select * from hospital
<trim prefix="WHERE" prefixOverrides="AND">
    <if test="hosAddress != null and hosAddress != ''">
         replace(hos_address,' ' ,'') like '${hosAddress}%' 
    </if>
    <if test="searchWrd != null and searchWrd != ''">
        AND replace(hos_name,' ','') like replace('%${searchWrd}%',' ','')
    </if>    
 </trim>
order by hos_no desc
LIMIT ${startRow} ,${PAGE_SIZE}
</select>

<select id="selectHospitalList" resultType="HospitalVo" parameterType="Proxy">
SELECT h.* 
FROM HOSPITAL as h 
JOIN (SELECT a.hos_no 
		FROM ( SELECT hos_no , COUNT(*) as cnt 
				FROM hos_info 
				WHERE hos_info_code IN 
  	<foreach item="item" index="index" collection="checkBoxList" open="(" separator="," close=")">
        #{item}
  	</foreach>				
				GROUP BY hos_no
				) a
		WHERE cnt = (select count(*) from hos_info_code where hos_info_code in 
  	<foreach item="item" index="index" collection="checkBoxList" open="(" separator="," close=")">
        #{item}
  	</foreach>	
					)) as info
ON h.hos_no = info.hos_no
<trim prefix="WHERE" prefixOverrides="AND">
    <if test="hosAddress != null and hosAddress != ''">
         replace(hos_address,' ' ,'') like '${hosAddress}%' 
    </if>
    <if test="searchWrd != null and searchWrd != ''">
        AND replace(hos_name,' ','') like replace('%${searchWrd}%',' ','')
    </if>    
 </trim>
LIMIT ${startRow} ,${PAGE_SIZE}
</select>


<select id="selectHospitalDetail" resultType="HospitalVo">
select * from hospital
WHERE hos_no like #{hosNo}
</select>


<insert id = "insetHospitalDumpData" parameterType="com.petcare.web.domains.HospitalVo">
INSERT INTO HOSPITAL (hos_no, hos_id, hos_pass, hos_name, hos_phone, hos_address, hos_site, hos_optime,hos_open,hos_close, hos_major_treatment_target, hos_course_of_treatment, hos_feature, hos_service, hos_intro, hos_photo,treat_no)
VALUES (#{hosNo},#{hosId},#{hosPass},#{hosName},#{hosPhone},#{hosAddress},#{hosSite},#{hosOptime},"09:00:00","18:00:00",#{hosMajorTreatmentTarget},#{hosCourseOfTreatment},#{hosFeature},#{hosService},#{hosIntro},#{hosPhoto},"0") 
</insert>


</mapper>