<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petcare.web.mapper.ReservationMapper">

 	<resultMap type="com.petcare.web.domains.ReservationVo" id="ReservationVo">
		<id column="treat_no" property="treatNo" />
		<result column="hos_no" property="hosNo" />
		<result column="res_dt" property="resDt" />
		<result column="res_time" property="resTime" />
		<result column="user_id" property="userId" />
		<result column="ani_no" property="aniNo" />
		<result column="res_item" property="resItem" />
		<result column="reg_dt" property="regDt" />
		
		<result column="hos_name" property="hosName" />
		<result column="ani_name" property="aniName" />
		
	</resultMap>
 
	<select id="getList" resultMap="ReservationVo">
		SELECT treat_no,res_dt,res_time,h.hos_name,a.ani_name,reg_dt 
		FROM reservation r 
			join hospital_basic h on (r.hos_no = h.hos_no )
			join animal a on (r.ani_no = a.ani_no)

    		<!--where 에user_id넣으면 500에러  -->
	</select>

	<select id="read" resultMap="ReservationVo">
		select * from reservation where treat_no=#{treat_no}
	</select>
	
	<insert id="insert">
		insert into reservation (treat_no,hos_no,user_id,reg_dt,ani_no,res_dt,res_time,res_item)
		values
		(#{treatNo},#{hosNo},#{userId},now(),#{aniNo},#{resDt},#{resTime},#{resItem})
	</insert>

	<update id="update">
		update reservation set ani_no = #{ani_no} ,
		res_dt= #{res_dt}
		,res_time= #{res_time},res_item=#{res_item} 
		where treat_no = #{treat_no}
	</update>

	<delete id="delete">
		delete from reservation where treat_no = #{treat_no}
	</delete>




</mapper>