<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petcare.web.mapper.ReservationMapper">

<!--  	<resultMap type="com.petcare.web.domains.ReservationVo" id="ReservationVo">
		<id column="treat_no" property="treatNo" />
		<result column="hos_no" property="hosNo" />
		<result column="res_dt" property="resDt" />
		<result column="res_time" property="resTime" />
		<result column="user_id" property="userId" />
		<result column="ani_no" property="aniNo" />
		<result column="res_item" property="resItem" />
		<result column="reg_dt" property="regDt" />
		
		<result column="hos_name" property="hosName" />
		<result column="ani_name" property="aniName" />
		
	</resultMap> -->
 
	<select id="getList" resultType="ReservationVo">
		SELECT treat_no,res_dt,res_time,h.hos_name,a.ani_name,reg_dt ,u.user_id
		FROM reservation r 
			join hospital_basic h on (r.hos_no = h.hos_no )
			join animal a on (r.ani_no = a.ani_no)
			join user u on (u.user_id = r.user_id)
		    WHERE u.user_id = #{userId}
		<!-- <if test="#{userId} != null">
		</if> -->
		<!-- CASE
			WHEN #{userId}!=null
			THEN WHERE r.user_id = #{userId}
			ELSE 
		END -->
			
    		<!--where 에user_id넣으면 500에러  -->
	</select>

	<select id="read" resultType="ReservationVo">
		select * from reservation where treat_no=#{treatNo}
	</select>
	
	<insert id="insert">
		insert into reservation (treat_no,hos_no,user_id,reg_dt,ani_no,res_dt,res_time,res_item)
		values
		(#{treatNo},#{hosNo},#{userId},now(),#{aniNo},#{resDt},#{resTime},#{resItem})
	</insert>

	<update id="update">
		update reservation set ani_no = #{aniNo} ,
		res_dt= #{res_dt}
		,res_time= #{resTime},res_item=#{resItem} 
		where treat_no = #{treatNo}
	</update>

	<delete id="delete">
		delete from reservation where treat_no = #{treatNo}
	</delete>




</mapper>