<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petcare.web.mapper.ReviewBrdMapper">


<select id="cntReview" resultType="int">
select count(*) from review_brd where hos_no like #{hosNo}
</select>
<select id="selectReview" resultType="ReviewBrdVo">
select * from review_brd
where hos_no like #{hosNo} 
order by brd_seq desc
LIMIT ${startRow} ,${PAGE_SIZE}
</select>

<insert id ="insertReview" parameterType="ReviewBrdVo">
insert into review_brd (user_id, hos_no, rate, comment, write_date)
values (#{userId},#{hosNo},#{rate},#{comment},DATE_FORMAT(NOW(),'%Y%m%d'))
</insert>

</mapper>