@charset "UTF-8";

.form {
	padding: 2rem;
	background: white;
}

.form-group {
	margin-top: 1rem;
}
.form-label {
	font-size: 1.5rem;
	font-weight: 600;
	color: #7950f2;
}

.form-btn {
	background: #7950f2;
	border-color: #7950f2;
}ㄴ